<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>mui.server.services.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/provadeploy2/login-service</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>tokenServlet</servlet-name>
    <servlet-class>mui.server.services.TokenServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>tokenServlet</servlet-name>
    <url-pattern>/provadeploy2/token-service</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ProvaDeploy2.html</welcome-file>
  </welcome-file-list>

</web-app>
