/* 
    Document   : Sched
    Created on : Nov 10, 2011, 2:21:21 PM
    Author     : marino
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.gwt-root {
    display: block;
    background-color: #ABB0FF;
    color: black;
}

.gwt-DialogBox {
    border: 2px outset;
    background-color: white;
    color: black;
}

.MainLabel {
    text-align: center;
    font-weight: bold;
    font-size:large;
    width:8em;

}
.mainPanelStyle{
    padding: 4px;
    font-weight: bold;
    cursor: default;
    background-color: #ECF4B5;
    border:3px;
    border-bottom: 2px solid #87ffff;
    margin-right: 2px;
}

.gwt-ButtonOLD{

    font-weight: bold;
    font-size: 24px;
    font-style:italic;
}

.overlapping{
    font-style:italic;
}

.styleAvailable{
    background-color: #50EA00;

}

.styleUnused{
    background-color: #F0F0F0;

}

.styleBusy{
    background-color: #F498DB;

}

.styleHoliday{
    background-color: #C0C0C0;

}

.styleOwner{
    background-color: #D0B000;

}

.styleConflict{
    background-color: #FF6688;

}

.style1{
    background-color: #A49800;
    font-weight: bold;

}

.sfondo {
    margin-top: 4px;
    background-color: #000099;
}

.gwt-TabPanelBottomOLD {
    background-color: #333333;
}

.gwt-TabBarOLD {
    padding-top: 2px;
    border-bottom: 4px solid #878787;
    background-color: #333333;
}


.gwt-TabBarItemOLD {
    padding: 4px;
    cursor: pointer;
    background-color: #333333;
    border-bottom: 2px solid white;
    margin-right: 2px;
}

.gwt-TabBarItem-selectedOLD {
    padding: 4px;
    font-weight: bold;
    cursor: default;

    background-color: #878787;
    border-bottom: 2px solid #87ffff;
    margin-right: 2px;
}


.styleUser1{
    background-color: #F0A000;

}

.styleUser2{
    background-color: #C0B000;

}

.styleUser3{
    background-color: #A0C000;

}

.styleUser4{
    background-color: #80D000;

}

.styleUser5{
    background-color: #60E000;

}

.styleUser6{
    background-color: #40F000;

}
