<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ProvaServlet</servlet-name>
        <servlet-class>jav.ProvaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveServlet</servlet-name>
        <servlet-class>jav.SaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadServlet</servlet-name>
        <servlet-class>jav.LoadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProvaServlet</servlet-name>
        <url-pattern>/ProvaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveServlet</servlet-name>
        <url-pattern>/SaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadServlet</servlet-name>
        <url-pattern>/LoadServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>demo_basic.htm</welcome-file>
    </welcome-file-list>
</web-app>
