#x-desktop {
	width: 50%;
}

.icon-grid {
	background: url( ../images/grid.png ) !important;
}

.bogus {
	background-image: url( ../images/bogus.png ) !important;
}

.add {
	background-image: url(../../../shared/icons/fam/add.gif) !important;
}

.option {
	background-image: url(../../../shared/icons/fam/plugin.gif) !important;
}

.remove {
	background-image: url(../../../shared/icons/fam/delete.gif) !important;
}

.save {
	background-image: url(../../../shared/icons/save.gif) !important;
}

.accordion {
	background: url(../images/accordian.gif) no-repeat 0 50% !important;
}

.tabs {
	background-image: url(../images/tabs.gif) !important;
}

/* IM window icons */
.user {
	background-image: url(../../../shared/icons/fam/user.gif ) !important;
}

.user-add {
	background-image: url(../../../shared/icons/fam/user_add.gif) !important;
}

.user-delete {
	background-image: url(../../../shared/icons/fam/user_delete.gif)
		!important;
}

.connect {
	background-image: url(../../../shared/icons/fam/connect.gif) !important;
}

.user-girl {
	background-image: url(../../../shared/icons/fam/user_female.gif)
		!important;
}

.user-kid {
	background-image: url(../../../shared/icons/fam/user_green.gif)
		!important;
}

.user-suit {
	background-image: url(../../../shared/icons/fam/user_suit.gif)
		!important;
}

.user-online {
	background-image: url(../images/status_online.png) !important;
}

.user-offline {
	background-image: url(../images/status_offline.png) !important;
}
.user-away {
	background-image: url(../images/status_away.png) !important;
}
.user-busy {
	background-image: url(../images/status_busy.png) !important;
}

.document_font {
	background-image: url(../images/document_font.png) !important;
}

.lightbulb {
	background-image: url(../images/lightbulb.png) !important;
}

.lightbulb_off {
	background-image: url(../images/lightbulb_off.png) !important;
}

.invite-user {
	background-image: url(../images/user_add.png) !important;
}

.delete-user {
	background-image: url(../images/user_delete.png) !important;
}

.set-hidden {
	background-image: url(../images/user_silhouette.png) !important;
}

.sort_ascending {
	background-image: url(../images/sort_ascending.png) !important;
}

.arrow_refresh {
	background-image: url(../images/arrow_refresh.png) !important;
}

.folder_16 {
	background-image: url(../images/folder.png) !important;
}

.monitor {
	background-image: url(../images/monitor.png) !important;
}

.monitor_add {
	background-image: url(../images/monitor_add.png) !important;
}

.monitor_go {
	background-image: url(../images/monitor_go.png) !important;
}

/* shortcuts */
#wallet-win-shortcut img {
	width: 64px;
	height: 64px;
	background-image: url(../images/wallet.png);
}

#myresources-win-shortcut img {
	width: 64px;
	height: 64px;
	background-image: url(../images/Folder_Web.png);
}

#tableresources-win-shortcut img {
	width: 64px;
	height: 64px;
	background-image: url(../images/Folder_FTP.png);
}

#chat-win-shortcut img {
	width: 64px;
	height: 64px;
	background-image: url(../images/group_chat.png);
}

#blackboard-win-shortcut img {
	width: 64px;
	height: 64px;
	background-image: url(../images/blackboard.png);
}

#doc-win-shortcut img {
	width: 64px;
	height: 64px;
	background-image: url(../images/Doc.png);
}

#resource-win-shortcut img {
	width: 64px;
	height: 64px;
	background-image: url(../images/bookmark.png);
}

.edit {
	background-image: url(../images/edit.png) !important;
}

.addTag {
	background-image: url(../images/addTag.png) !important;
}

.removeTag {
	background-image: url(../images/delete.png) !important;
}

.go {
	background-image: url(../images/go.png) !important;
}

.comment{
	background-image: url(../images/comment.png)  !important;
}

.FlexTable-text0 {
  	color:				black;
  	vertical-align: 	top;
  	horizontal-align: 	right;
  	width: 				180px;
  	height: 			86px;
}

.FlexTable-button0 {
  	color:				black;
  	text-align: 		right;
  	vertical-align: 	top;
  	horizontal-align: 	right;
  	width: 				40px;
  	height: 			86px;  	
}

.FlexTable-button1 {
  	color:				black;
  	text-align: 		right;
  	vertical-align: 	top;
  	horizontal-align: 	right;
  	width: 				40px;
  	height: 			72px;	
}

.FlexTable-text1 {
  	color:				black;
  	vertical-align: 	top;
  	horizontal-align: 	right;
  	width: 				180px;
  	height: 			72px;
}

.FlexTable-button2 {
  	color:				black;
  	text-align: 		right;
  	vertical-align: 	top;
  	horizontal-align: 	right;
  	width: 				40px;
  	height: 			65px;	
}

.FlexTable-text2 {
  	color:				black;
  	vertical-align: 	top;
  	horizontal-align: 	right;
  	width: 				180px;
  	height: 			65px;
}

.deleteAll {
	background-image: url(../images/deleteGreen.png) !important;
}