<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->

	<!-- GROUP SERVLET -->

	<servlet>
		<servlet-name>groupServlet</servlet-name>
		<servlet-class>com.unito.tableplus.server.services.GroupServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>groupServlet</servlet-name>
		<url-pattern>/tableplus/group-service</url-pattern>
	</servlet-mapping>

	<!-- OBJECT SERVLET -->

	<servlet>
		<servlet-name>objectServlet</servlet-name>
		<servlet-class>com.unito.tableplus.server.services.ObjectServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>objectServlet</servlet-name>
		<url-pattern>/tableplus/object-service</url-pattern>
	</servlet-mapping>

	<!-- TOKEN SERVLET -->

	<servlet>
		<servlet-name>tokenServlet</servlet-name>
		<servlet-class>com.unito.tableplus.server.services.TokenServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>tokenServlet</servlet-name>
		<url-pattern>/tableplus/token-service</url-pattern>
	</servlet-mapping>

	<!-- USER SERVLET -->

	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>com.unito.tableplus.server.services.UserServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/tableplus/user-service</url-pattern>
	</servlet-mapping>

	<!-- NOTIFICATION SERVLET -->

	<servlet>
		<servlet-name>notificationServlet</servlet-name>
		<servlet-class>com.unito.tableplus.server.services.NotificationServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>notificationServlet</servlet-name>
		<url-pattern>/tableplus/notification-service</url-pattern>
	</servlet-mapping>
	
	<!-- CHAT SERVLETS -->
	
	<servlet>
		<servlet-name>chat_service</servlet-name>
		<servlet-class>com.unito.tableplus.server.services.ChatServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>chat_service</servlet-name>
		<url-pattern>/tableplus/chatservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>handle_connect</servlet-name>
		<servlet-class>com.unito.tableplus.server.services.ConnectionServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>handle_connect</servlet-name>
		<url-pattern>/_ah/channel/connected/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>handle_disconnect</servlet-name>
		<servlet-class>com.unito.tableplus.server.services.DisconnectionServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>handle_disconnect</servlet-name>
		<url-pattern>/_ah/channel/disconnected/</url-pattern>
	</servlet-mapping>
	
	<!-- PROXY SERVLET -->
	
	<servlet>
		<servlet-name>proxy</servlet-name>
		<servlet-class>com.unito.tableplus.server.services.Proxy</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>proxy</servlet-name>
		<url-pattern>/tableplus/proxy</url-pattern>
	</servlet-mapping>	
	
	<!-- Default page to serve -->

	<welcome-file-list>
		<welcome-file>TablePlus.html</welcome-file>
	</welcome-file-list>

</web-app>
