<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Servlets -->

	<!-- TABLE SERVLET -->

	<servlet>
		<servlet-name>tableServlet</servlet-name>
		<servlet-class>com.unito.tableplus.server.services.TableServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>tableServlet</servlet-name>
		<url-pattern>/tableplus/table-service</url-pattern>
	</servlet-mapping>

	<!-- DRIVE SERVLET -->

	<servlet>
		<servlet-name>driveServlet</servlet-name>
		<servlet-class>com.unito.tableplus.server.services.DriveServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>driveServlet</servlet-name>
		<url-pattern>/tableplus/drive-service</url-pattern>
	</servlet-mapping>

	<!-- USER SERVLET -->

	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>com.unito.tableplus.server.services.UserServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/tableplus/user-service</url-pattern>
	</servlet-mapping>

	<!-- LOGIN SERVLET -->

	<servlet>
		<servlet-name>loginService</servlet-name>
		<servlet-class>com.unito.tableplus.server.services.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginService</servlet-name>
		<url-pattern>/tableplus/login</url-pattern>
	</servlet-mapping>

	<!-- CHAT SERVLETS -->

	<servlet>
		<servlet-name>chat_service</servlet-name>
		<servlet-class>com.unito.tableplus.server.services.MessagingServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>chat_service</servlet-name>
		<url-pattern>/tableplus/chatservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>handle_connect</servlet-name>
		<servlet-class>com.unito.tableplus.server.servlets.ConnectionServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>handle_connect</servlet-name>
		<url-pattern>/_ah/channel/connected/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>handle_disconnect</servlet-name>
		<servlet-class>com.unito.tableplus.server.servlets.DisconnectionServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>handle_disconnect</servlet-name>
		<url-pattern>/_ah/channel/disconnected/</url-pattern>
	</servlet-mapping>

	<!-- DROPBOX SERVLET -->

	<servlet>
		<servlet-name>dropboxServlet</servlet-name>
		<servlet-class>com.unito.tableplus.server.services.DropBoxServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dropboxServlet</servlet-name>
		<url-pattern>/tableplus/dropbox-service</url-pattern>
	</servlet-mapping>
	
	<!-- FACEBOOK SERVLET -->

	<servlet>
		<servlet-name>facebookServlet</servlet-name>
		<servlet-class>com.unito.tableplus.server.services.FacebookServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>facebookServlet</servlet-name>
		<url-pattern>/tableplus/facebook-service</url-pattern>
	</servlet-mapping>

	<!-- PROXY SERVLET -->

	<servlet>
		<servlet-name>proxy</servlet-name>
		<servlet-class>com.unito.tableplus.server.servlets.Proxy</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>proxy</servlet-name>
		<url-pattern>/tableplus/proxy</url-pattern>
	</servlet-mapping>

	<!-- CALLBACK SERVLET -->

	<servlet>
		<servlet-name>callback</servlet-name>
		<servlet-class>com.unito.tableplus.server.servlets.CallbackServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>callback</servlet-name>
		<url-pattern>/tableplus/callback</url-pattern>
	</servlet-mapping>

	<!-- INVITATION SERVLET -->

	<servlet>
		<servlet-name>invitation</servlet-name>
		<servlet-class>com.unito.tableplus.server.servlets.InvitationServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>invitation</servlet-name>
		<url-pattern>/tableplus/invitation</url-pattern>
	</servlet-mapping>
	
	<!-- BOOKMARK SERVLET -->
	
	<servlet>
		<servlet-name>bookmarkServlet</servlet-name>
		<servlet-class>com.unito.tableplus.server.services.BookmarkServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>bookmarkServlet</servlet-name>
		<url-pattern>/tableplus/bookmark-service</url-pattern>
	</servlet-mapping>	
	
	<!-- COMMENT SERVLET -->
	
	<servlet>
		<servlet-name>commentServlet</servlet-name>
		<servlet-class>com.unito.tableplus.server.services.CommentServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>commentServlet</servlet-name>
		<url-pattern>/tableplus/comment-service</url-pattern>
	</servlet-mapping>	

	<!-- Default page to serve -->

	<welcome-file-list>
		<welcome-file>TablePlus.html</welcome-file>
	</welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>